.main-container {
  background-color: #192428;
}

/* SIDEBAR CONTAINER */
.sidebar-container {
  margin-top: 45px;
}

.sidebar-container .list-group-item:first-child {
  background-color: transparent;
  color: white;
  border: none;
}

/* SPORT BUTTONS COMPONENT STYLING */
.sport-buttons {
  margin-top: 30px;
}

.sport-buttons .list-group-item {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: white;
}

.sport-buttons .list-group-item:hover {
  color: black;
  font-weight: 700;
  cursor: pointer;
  background-color: green;
}

/* SPORT NEWS COMPONENT STYLING */
.sport-news-container {
  margin-top: 25px;
}

.sport-news-container .card {
  background-color: #2d383c;
  border: 1px solid white;
  margin: 10px;
}

.sport-news-container .card:hover {
  background-color: green;
  cursor: pointer;
}

.sport-news-container a .card-title {
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.sport-news-container .card-text {
  color: white;
}

/* SEARCH BAR COMPONENT STYLING */
.search-bar {
  margin-top: 60px;
}

.search-bar .form-control {
  background-color: #2D3B48;
  border: none;
  margin-left: 5px;
}

.search-bar .form-control:focus {
  background-color: yellow;
  border: none;
}

.search-bar .form-inline {
  width: 100%;
}

.search-bar .form-group {
  width: 90%;
}

.search-bar .form-control {
  width: 50% !important;
}







