.main-container {
  /* background-color: grey; */
  height: 100vh;
}

/* SPORT BUTTONS COMPONENT STYLING */
.sport-buttons {
  /* background-color: green; */
  margin-top: 70px;
}

.sport-buttons .btn {
  padding: 15px 30px;
  color: black;
}

.sport-buttons .btn-outline-primary {
  border-color: grey;
}

.sport-buttons .list-group-item {
  font-size: 20px;
  margin: 10px;
  padding: 0
}

/* SPORT NEWS COMPONENT STYLING */
.sport-news {
  /* background-color: yellow; */
  margin-top: 30px;
}

.sport-news .card-title {
  font-weight: 600;
  font-size: 18px;
}

.sport-news .row {
  display: flex;
  flex-wrap: wrap
}



